.footer {
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80px;
    background: #1f2937;
    padding: 0 15%;
    flex-wrap: wrap;
}

.footer p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 500;
}