.section-four {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
    height: 480px;
    /* background: #e5e7eb; */
    padding: 0 15%;
}

.section-four .section-four-container {
    /* border: 1px solid #3882f6; */
    background: #3882f6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:45%;
    border-radius: 10px;
}

.section-four-container button {
    padding: 20px 30px;
    background: #3882f6;
    color: white;
    border: 3px solid white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}

.cta-subtext p {
    font-size: 18px;
    color: #e5e7eb;
}