.section-three {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    height: 480px;
    background: #e5e7eb;
    padding: 0 22%;
}

.quote-text {
    letter-spacing: 1px;
}

.quote-text p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}