.section-two {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 640px;
    /* background: #1F2937; */
    padding: 0 9%;
    /* color: #f9faf8; */
}

.section-title {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.section-title h1 {
    font-size: 48px;
    font-weight: 900;
    color: #1F2937;
}

.box-images-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box-images {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.box-images img {
    width:20%;
    height: auto;
    border-radius: 12px;
    border: 5px solid #3882f6;
}

.texts {
    display: flex;
    justify-content: space-evenly;
}

.texts .text {
    width: 20%;
    text-align: center;
    color: #1F2937;
    font-weight: 600;
}