* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-one {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 640px;
    background: #1F2937;
    padding: 0 9%;
    color: #f9faf8;
}

.section-one .header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
    padding: 24px 0;
}

.header {
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
}

.header h3 {
    font-size: 24px;
}

.links {
    display: flex;
    flex: 1;
}

.links ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 10%;
    list-style: none;
}

.links ul a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* border: 1px solid blue; */
    height: 60%;
    width: 46%;
}

.title h1 {
    font-size: 48px;
}

.subtext p {
    font-size: 20px;
    color: #e5e7eb;
}

.content button {
    padding: 15px 25px;
    border-radius: 12px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 600;
}

.right-side {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    width:50%;
}

.right-side img {
    width:100%;
    border-radius: 14px;
}